#display {
    margin-left: 55px;
    margin-top: 20px;
    width: 340px;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    height: 40px;
    border-bottom: 3px solid rgba(2, 22, 58, 0.658);
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(255, 255, 255, 0.233);
    font-size: 26px;
}

.buttons button {
    margin: 3px;
    height: 60px;
    padding: 10px;
    width: 50px;
    background-color: rgb(188, 188, 194);
    font-size: 20px;
    font-family: Arial;
    color: rgb(14, 14, 15);
    cursor: pointer;
    transition: 200ms;
    border: none;
    border-radius: 10px;
}

button:hover {
    opacity: 0.7;
}

p {
    color: black;
    font-size: 20px;
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.container img {
    width: 30vw;
    position: absolute;
    left: 220px;
    top: 856px;
    opacity: 0.4;
    border-radius: 150px;
}


.container {
    -webkit-user-select: none;
    margin-left: 45px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 70vw;
    height: 380px;
}
  
.buttons {
    background-color: rgba(15, 78, 94, 0.103);
    padding: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.404);
    border-bottom: 5px solid rgba(0, 0, 0, 0.404);
    border-left: 5px solid rgba(7, 54, 141, 0.473);
    border-right: 5px solid rgba(7, 54, 141, 0.473);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
  
.buttons .operador {
    background-color: rgb(207, 145, 145);
}
  
.buttons #resultado {
    background-color: #9b8a8a;
}
.buttons #limpar {
    background: rgb(163, 152, 51);
}
  
#number {
    padding: 10px
}
  
#operador {
    background-color: red;
    height: 20px;
}
  
#page-title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px outset  rgba(0, 0, 0, 0.438);
    border-radius: 25px;
    margin-left: 35px;
}

#page-title h2 {
    padding: 10px;
    font-family: 'Ubuntu Mono';
    font-weight: bold;
    font-size: 32px;
    color: rgb(14, 12, 12);
}

#page-title img {
    position: absolute;
    width: 45px;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.438);
    left: 223px;
    top: 390px;
}

